__pycache__/
.DS_Store
.vscode/
*.pyc
*.log
*.csv
*.bin
!FlukeBridge-ver*-XIAO-ESP32C3.bin
!FlukeBridge-ver3.2-XIAO-ESP32C3.bin
*.elf
*.map
build/
arduino_build*/
Arduino*/
*.zip
fluke_status.txt
fluke_value.txt
pc/fluke_status.txt
pc/fluke_value.txt
pc/fluke_log.csv
pc/fluke_debug.log
release-archive/
